<?xml version="1.0"?>
<clickhouse>
    <!-- Force IPv4 only - fixes Docker Desktop IPv6 issues -->
    <listen_host>0.0.0.0</listen_host>

    <!-- Disable IPv6 completely -->
    <listen_try>1</listen_try>

    <!-- Logging -->
    <logger>
        <level>warning</level>
        <console>1</console>
    </logger>

    <!-- Memory limits -->
    <max_server_memory_usage_to_ram_ratio>0.8</max_server_memory_usage_to_ram_ratio>

    <!-- MergeTree settings -->
    <merge_tree>
        <max_suspicious_broken_parts>5</max_suspicious_broken_parts>
        <parts_to_delay_insert>150</parts_to_delay_insert>
        <parts_to_throw_insert>300</parts_to_throw_insert>
    </merge_tree>

    <!-- Background pools -->
    <background_pool_size>16</background_pool_size>
    <background_schedule_pool_size>16</background_schedule_pool_size>

    <!-- Compression -->
    <compression>
        <case>
            <method>lz4</method>
        </case>
    </compression>

    <!-- Disable interserver for single node -->
    <interserver_http_host>127.0.0.1</interserver_http_host>
</clickhouse>
